.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-back {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-back:hover {
  background-color: #999;
}

.summary {
  text-align: center;
  margin-bottom: 40px;
}

.me {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-link {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.social-link.linkedin {
  background-color: #0077b5;
}

.social-link.github {
  background-color: #333;
}

.social-link:hover {
  background-color: #555;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.nombre {
  font-size: 32px;
  margin-bottom: 10px;
}

.profile-image {
  margin-bottom: 20px;
}

.profile-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Media Query for Responsive Layout */
@media screen and (min-width: 768px) {
  .summary {
    margin-bottom: 20px;
  }

  .social-links {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .profile-section {
    margin-top: 0;
  }
}

